<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Featured Exhibit</title>
    <link rel="stylesheet" type="text/css" href="../Styles/main.css">
</head>

<body>
    <script src="./main.js">
    </script>
    <div class="f-header">
        <h1>This Month's Featured Exhibit</h1>
        <a href="home.html">Home</a>
        <a href="ticket.html">Plan your visit</a>
    </div>
    <div class="f-row">
        <div class="f-column" style="background-color:aliceblue">
            <h3>Interactive Critter of the month</h3>
            <p>This months interactive critter is the opossum!</p>
            <img id="possum1" src="../Images\possum1.jpg" style="width: 100px; height: 100px;object-fit: cover;"/>
            <p>An opposum is the only marsupial found in North America.</p>
            <img id="possum2" src="../Images\possum2.jpg" style="width: 100px; height: 100px;object-fit: cover;"/>
            <p>These animals are most famous for "playing possum". This involves 
                flopping over and pretending to die to put off their predators.
            </p>
            <img id="possum3" src="../Images\possum3.jpg" style="width: 100px; height: 100px;object-fit: cover;"/>
            <p>Come visit us this month to see our expert animal handelers put this critter on full display. </p>
        </div>

        <div class="f-column" style="background-color:aliceblue">
            <h3>Featured Exhibit</h3>
            <p>
                This months exhibit features the red panda! 
            </p>
            <div>
            <img id="panda1" src="../Images\redPanda1.jpg" style="width: 100px; height: 100px;object-fit: cover;"/>
            </div>
            <p>
                Despite their names, they are <em>not</em> bears! They belong to their own, independent family: <strong>Ailuridae</strong>
            </p>
            <img id="panda2" src="../Images\redPanda2.jpg" style="width: 100px; height: 100px;object-fit: cover;"/>
            <p>
                Red pandas are endangered. There are less than 10,000 left in the wild.
            </p>
            <img id="panda3" src="../Images\redPanda3.jpg" style="width: 100px; height: 100px;object-fit: cover;"/>
            <p>
                Come see our cuddly new friends before the end of the month!
            </p>
        </div>
        <div class="f-column" style="background-color:aliceblue">
            <h3>Which exhibit do you want to see next month?</h3>
            <form id="exhibitPick">
                <fieldset>
                    <div>
                        <ul id="list">
                        <li><input type="radio" id="Choice1"value="Penguins" />
                        <label for="Choice1">African Penguins</label></li>

                        <li><input type="radio" id="Choice2"value="Ring-tailed Lemurs" />
                        <label for="Choice2">Ring-tailed Lemurs</label></li>

                        <li><input type="radio" id="Choice3"value="Orangutans" />
                        <label for="Choice3">Orangutans</label></li>
                    </ul>
                    </div>
                    <div>
                        <input onclick="changeButton()" type="button"  value="Cast your vote!" id="votebutton"></input>
                    </div>
                </fieldset>
            </form>
            <div>
                <img id="penguin" src="../Images\penguin1.jpg" style="width: 100px; height: 100px;object-fit: cover;"/>
                <p>
                    African Penguin
                </p>
                <img id="lemur" src="../Images\lemur1.jpg" style="width: 100px; height: 100px;object-fit: cover;"/>
                <p>
                    Ring-tailed Lemur
                </p>
                <img id="orangutan" src="../Images\orangutan1.jpg" style="width: 100px; height: 100px;object-fit: cover;"/>
                <p>
                   Orangutan
                </p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>
            We can't wait to see you!
        </p>
    </div>
</body>

</html>